form#formSearch{
    @media only screen  and (max-width : $mobile){
        margin-bottom: 10px;
        float: left;
        width: 100%;
    }
    input{
        max-width:380px ;
        margin-top: 0px !important;
        padding: 0px;
        @include inputDefault;
        float: left;
        @media only screen  and (max-width : $mobile){
            max-width: 270px;
            width: 79%;
            border-radius: 0px;

        }
        @media only screen  and (max-width : 600px){
            max-width: 380px;
            width: 79%;
        }
    }
    button{
        width: 45px;
        float: left;
        height: 45px;   
        background-color: $color-header-default;
        border: none;
        border-radius: 50%;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-items: center;
        text-align: center;
        cursor: pointer;
        @media only screen  and (max-width : $mobile){
            width: 20%;
            border-radius: 0px;
            margin-left: 0px;
            // border:2px solid $color-border-default;
            height: 49px;
            
        }
        span{
            margin: 0 auto;
        }
    }
}